
@import url(https://fonts.googleapis.com/css?family=Lato:200,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
    background: #444;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 60px 0;
    color: white;
}

.container {
    margin: 0 auto;
    width: 770px;
    height: 550px;
    background: #444753;
    border-radius: 5px;
}

.menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }

.friend-list {
    width: 250px;
    float: left;
}

.friend-list .search {
    padding: 20px;
}

.friend-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.friend-list .fa-search {
    position: relative;
    left: -25px;
}

.friend-list ul {
    padding: 20px;
    height: 300px;
}

.friend-list ul li {
    padding-bottom: 20px;
}

.friend-list img {
    float: left;
}

.friend-list .about {
    float: left;
    margin-top: 8px;
}

.friend-list .about {
    padding-left: 8px;
}

.friend-list .status {
    color: #92959E;
}

.chat {
    width: 520px;
    height: 500px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 250px;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #86BB71;
}
.chat .chat-history .other-message {
    background: #94C2ED;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.chat .chat-message {
    padding: 30px;
}

.chat .chat-message textarea {
    width: 80%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    background-color: #ccc;
}

.chat .chat-message textarea:focus {
    background-color: #DDD;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

:focus {
    outline: 0;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.list > li {
  cursor: pointer;
}

div.login-register {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    text-align: center !important;
    color: #000000;
}

div.login-register > h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

div.login-register > h2 {
    font-family: 'Droid Sans', sans-serif;
    margin: 0;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;

}

div.login-register > p {
    color: #FFFFFF;
    text-align: right;
    font-size: 13px;
    font-family: 'Droid Sans', sans-serif;
}

div.login-register > p > a {
  color: #FFFFFF;
}

.error {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #522A29;
    text-align: left;
    background-color: #FF6565;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #7D4B4B;
    padding-left: 10px;
}

.success {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #004A00;
    text-align: left;
    background-color: #87C38E;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #597D4B;
    padding-left: 10px;
}