<div class="container clearfix">
    <div class="friend-list" id="friend-list">
        <div class="search">
            <input type="text" data-ng-model="searchText" /> <i class="fa fa-search"></i>
        </div>

        <!--Contacts List-->
        <ul class="list">
            <li class="clearfix" data-ng-repeat="friend in friends | filter:searchText" data-ng-click="select( friend )" >
                <img src="images/chat_avatar.png" alt="avatar" />
                <div class="about">
                    <div class="name">{{ friend.name }}</div>
                    <div class="status">
                        <i class="fa fa-circle" data-ng-class="(friend.online) ? 'online' : 'offline'" ></i>{{ (friend.online) ? 'online' : "offline" }}
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <div class="chat">

        <!-- Display selected friend information -->
        <div class="chat-header clearfix">
            <img src="images/chat_avatar.png" alt="avatar" />
            <div class="chat-about">
                <div class="chat-with">{{ selected.name }}</div>
                <div class="chat-num-messages"><b>{{ selected.username }}</b> {{ channels[selected.username].length }} messages</div>
            </div>
            <i class="fa fa-star"></i>
        </div>

        <!-- Display chat history with friend -->
        <div class="chat-history">
            <ul>
                <li data-ng-repeat="message in channels[selected.username]" data-ng-class="(message.from == username) ? '' : 'clearfix'" >
                    <div class="message-data" data-ng-class="(message.from == username) ? '' : 'align-right'">
                        <span class="message-data-name">
                            {{ (message.from == username) ? 'You' : message.from }}
                        </span>
                        <span class="message-data-time">
                            {{ message.at | date:"h:mm a EEEE, MMMM d, y" }}
                        </span>
                    </div>
                    <div class="message" data-ng-class="(message.from == username) ? 'my-message' : 'other-message float-right'" >
                        {{ message.message }}
                    </div>
                </li>
            </ul>
            <a id="bottom"></a>
        </div>

        <!-- Input box for message -->
        <div class="chat-message clearfix">
            <textarea name="Type your message" cols ="5" rows="3" data-ng-model="message" ></textarea>
            <button data-ng-click="send( selected.username, message )" >Send</button>
        </div>
    </div>
</div>