<div class="login-register" >
    <h1>Chat Service</h1>
    <h2>Login to chat.</h2>
    <form class="pure-form pure-form-aligned" name="FormLogin" >
        <fieldset class="pure-group" >
            <input data-ng-model="username" type="text"     class="pure-input-1" placeholder="Username" required>
            <input data-ng-model="password" type="password" class="pure-input-1" placeholder="Password" required>
        </fieldset>
        <p class="error" data-ng-if="error" >{{error}}</p>
        <button type="submit" class="pure-button pure-input-1 pure-button-primary" data-ng-click="login( username, password )" data-ng-disabled="FormLogin.$invalid" >Login</button>
    </form>
    <p>Register a new account <a data-ui-sref="register" >here</a>.</p>
</div>