<div class="login-register" >
    <h1>Chat Service</h1>
    <h2>Register new account.</h2>
    <form class="pure-form pure-form-aligned" name="FormRegister" >
        <fieldset class="pure-group" >
            <input name="name" data-ng-model="name" type="text" class="pure-input-1" placeholder="Name" required/>
            <input name="username" data-ng-model="username" type="text" class="pure-input-1" placeholder="Username" pattern="[A-Za-z0-9]{3,8}" title="Between 3 and 8 alphanumeric characters long" required/>
            <input name="password" data-ng-model="password" type="password" class="pure-input-1" placeholder="Password" pattern=".{6,}" title="Six or more characters" required/>
            <input name="password_confirm" data-ng-model="password_confirm" type="password" class="pure-input-1" placeholder="Confirm password" pattern=".{6,}" title="Six or more characters" required/>
        </fieldset>
        <p class="error" data-ng-if="error" >{{error}}</p>
        <p class="success" data-ng-if="success" >{{success}}</p>
        <p class="error" data-ng-if='!FormRegister.name.$valid && FormRegister.name.$dirty' >Name is required.</p>
        <p class="error" data-ng-if='!FormRegister.username.$valid && FormRegister.username.$dirty' >Username should be between 3-8 alphanumeric characters.</p>
        <p class="error" data-ng-if='!FormRegister.password.$valid && FormRegister.password.$dirty' >Password must be 6 or more characters.</p>
        <button type="submit" class="pure-button pure-input-1 pure-button-primary" data-ng-click="register( name, username, password, password_confirm )" data-ng-disabled="FormRegister.$invalid" >Register</button>
    </form>
    <p>Login to an existing account <a data-ui-sref="login" >here</a>.</p>
</div>