<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" >
    <head>
        <title>Chat Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" />
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' />
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body>
  
        <div class="container clearfix">
		    <div class="menu">
		        <p class="welcome">Welcome, (insert persons name)<b></b></p>
		        <p class="logout"><a id="exit" href="#">Logout</a></p>
		        <div style="clear:both"></div>
		    </div>
            <div class="friend-list" >
                <div class="search">
                    <input type="text" data-ng-model="searchText" /> <i class="fa fa-search"></i>
                </div>

                <!--Contacts List-->
                <ul class="list">
                    <li class="clearfix" data-ng-repeat="friend in friends | filter:searchText" data-ng-click="select( friend )" >
                        <img src="images/chat_avatar.png" alt="avatar" />
                        <div class="about">
                            <div class="name">Lewis Maitland</div>
                            <div class="status">
                                <i class="fa fa-circle online" data-ng-class="(friend.online) ? 'online' : 'offline'" ></i>online
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="chat">

                <!-- Display selected friend information -->
                <div class="chat-header clearfix">
                    <img src="images/chat_avatar.png" alt="avatar" />
                    <div class="chat-about">
                        <div class="chat-with">Lewis Maitland</div>
                        <div class="chat-num-messages"><b>lewis</b> 2 messages</div>
                    </div>
                    <i class="fa fa-star"></i>
                </div>

                <!-- Display chat history with friend -->
                <div class="chat-history">
                    <ul>
                        <li data-ng-repeat="message in channels[selected.username]" class="clearfix" data-ng-class="(message.from == username) ? '' : 'clearfix'" >
                            <div class="message-data align-right" data-ng-class="(message.from == username) ? '' : 'align-right'">
                                <span class="message-data-name">
                                    lewis
                                </span>
                                <span class="message-data-time">
                                    6:01 PM Tuesday, February 16, 2016
                                </span>
                            </div>
                            <div class="message other-message float-right" data-ng-class="(message.from == username) ? 'my-message' : 'other-message float-right'" >
                                Hello World
                            </div>
                        </li>
                        <li data-ng-repeat="message in channels[selected.username]" data-ng-class="(message.from == username) ? '' : 'clearfix'" >
                            <div class="message-data" data-ng-class="(message.from == username) ? '' : 'align-right'">
                                <span class="message-data-name">
                                    You
                                </span>
                                <span class="message-data-time">
                                    6:03 PM Tuesday, February 16, 2016
                                </span>
                            </div>
                            <div class="message my-message" data-ng-class="(message.from == username) ? 'my-message' : 'other-message float-right'" >
                                Hello World, to you too!
                            </div>
                        </li>
                    </ul>
                    <a id="bottom"></a>
                </div>

                <!-- Input box for message -->
                <div class="chat-message clearfix">
                    <textarea name="Type your message" cols ="5" rows="3" data-ng-model="message" ></textarea>
                    <button data-ng-click="send( selected.username, message )" >Send</button>
                </div>
            </div>
        </div>
    </body>
</html>
