<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" >
    <head>
        <title>Chat Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" />
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' />
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body data-ng-app="ChatService" >
        <div class="login-register" >
            <h1>Chat Service</h1>
            <h2>Login to chat.</h2>
            <form class="pure-form pure-form-aligned" name="FormLogin" >
                <fieldset class="pure-group" >
                    <input data-ng-model="username" type="text"     class="pure-input-1" placeholder="Username" required>
                    <input data-ng-model="password" type="password" class="pure-input-1" placeholder="Password" required>
                </fieldset>
                <p class="error" data-ng-if="error" style="display: none;" ></p>
                <button type="submit" class="pure-button pure-input-1 pure-button-primary" data-ng-click="login( username, password )" data-ng-disabled="FormLogin.$invalid" >Login</button>
            </form>
            <p>Register a new account <a data-ui-sref="register" href="register.html" >here</a>.</p>
        </div>
    </body>
</html>