<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" >
    <head>
        <title>Chat Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" />
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' />
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body data-ng-app="ChatService" >
        <div class="login-register" >
            <h1>Chat Service</h1>
            <h2>Register new account.</h2>
            <form class="pure-form pure-form-aligned" name="FormRegister" >
                <fieldset class="pure-group" >
                    <input name="name" data-ng-model="name" type="text" class="pure-input-1" placeholder="Name" required/>
                    <input name="username" data-ng-model="username" type="text" class="pure-input-1" placeholder="Username" pattern="[A-Za-z0-9]{3,8}" title="Between 3 and 8 alphanumeric characters long" required/>
                    <input name="password" data-ng-model="password" type="password" class="pure-input-1" placeholder="Password" pattern=".{6,}" title="Six or more characters" required/>
                    <input name="password_confirm" data-ng-model="password_confirm" type="password" class="pure-input-1" placeholder="Confirm password" pattern=".{6,}" title="Six or more characters" required/>
                </fieldset>
                <p class="error" data-ng-if="error" style="display:none;" >{{error}}</p>
                <p class="success" data-ng-if="success" style="display:none;" >{{success}}</p>
                <p class="error" data-ng-if='!FormRegister.name.$valid && FormRegister.name.$dirty' style="display:none;" >Name is required.</p>
                <p class="error" data-ng-if='!FormRegister.username.$valid && FormRegister.username.$dirty' style="display:none;" >Username should be between 3-8 alphanumeric characters.</p>
                <p class="error" data-ng-if='!FormRegister.password.$valid && FormRegister.password.$dirty' >Password must be 6 or more characters.</p>
                <button type="submit" class="pure-button pure-input-1 pure-button-primary" data-ng-click="register( username, password, password_confirm )" data-ng-disabled="FormRegister.$invalid" >Register</button>
            </form>
            <p>Login to an existing account <a data-ui-sref="login"  href="login.html" >here</a>.</p>
        </div>
    </body>
</html>