<div class="container clearfix">
 
	 <div class="menu">
		<p class="welcome">Welcome, {{ $root.username }}<b></b></p>
		<p class="logout"><a id="exit" data-ng-click="logout()" href="#" >Logout</a></p>
		<div style="clear:both"></div>
	 </div>
	 
    <div class="friend-list" id="friend-list">
        <div class="search">
            <input type="text" data-ng-model="searchText" /> <i class="fa fa-search"></i>
        </div>

        <h2>Friends</h2>
        <ul class="list">
            <li class="clearfix" data-ng-repeat="( friend_us, friend ) in $root.friends" data-ng-click="select( friend )" >
                <img src="images/chat_avatar.png" alt="avatar" />
                <div class="about">
                    <div class="name">{{ friend.name }}</div>
                    <div class="status">
                        <i class="fa fa-circle" data-ng-class="(userOnline( friend )) ? 'online' : 'offline'" ></i>
                        {{ (userOnline( friend )) ? "online" : "offline" }}
                    </div>
                </div>
            </li>
            <li data-ng-if="!$root.friends || empty( $root.friends )" class="no-friends" >
                You have do not have any friends
            </li>
        </ul>

        <h2>Blocked Users</h2>
        <ul class="list">
            <li class="clearfix" data-ng-repeat="( blocked_us, blocked ) in $root.blocked" data-ng-click="select( blocked )" >
                <img src="images/chat_avatar.png" alt="avatar" />
                <div class="about">
                    <div class="name">{{ blocked.name }}</div>
                    <div class="status">
                        <i class="fa fa-circle" data-ng-class="(userOnline( blocked )) ? 'online' : 'offline'" ></i>
                        {{ (userOnline( blocked )) ? "online" : "offline" }}
                    </div>
                </div>
            </li>
            <li data-ng-if="!$root.blocked || empty( $root.blocked )" class="no-friends" >
                You have not blocked anyone
            </li>
        </ul>

        <!--Contacts List-->
        <h2>Online Users</h2>
        <ul class="list">
            <li class="clearfix" data-ng-repeat="user in users | filter:searchText" data-ng-click="select( user )" >
                <img src="images/chat_avatar.png" alt="avatar" />
                <div class="about">
                    <div class="name">{{ user.name }}</div>
                    <div class="status">
                        <i class="fa fa-circle online" ></i> online
                    </div>
                </div>
            </li>
            <li data-ng-if="!users || users.length == 0" class="no-friends" >
                No users online
            </li>
        </ul>

    </div>

    <div class="chat">

        <!-- Display selected user information -->
        <div class="chat-header clearfix">
            <img src="images/chat_avatar.png" alt="avatar" />
            <div class="chat-about">
                <div class="chat-with">{{ selected.name }}</div>
                <div class="chat-num-messages"><b>{{ selected.username }}</b> {{ channels[selected.username].length }} messages</div>
            </div>
            <div class="user-tools" >
                <a data-ng-if="!$root.friends[selected.username] && !$root.blocked[selected.username]" data-ng-click="addFriend( selected )" ><i class="fa fa-user-plus"></i></a>
                <a data-ng-if="$root.friends[selected.username]" data-ng-click="removeFriend( selected )" ><i class="fa fa-user-times"></i></a>
                
                <a data-ng-if="!$root.blocked[selected.username]" data-ng-click="blockUser( selected )" ><i class="fa fa-ban"></i></a>
                <a data-ng-if="$root.blocked[selected.username]" data-ng-click="unblockUser( selected )" ><i class="fa fa-ban"></i></a>
            </div>
        </div>

        <!-- Display chat history with friend -->
        <div class="chat-history">
            <ul>
                <li data-ng-repeat="message in channels[selected.username]" data-ng-class="(message.from == username) ? '' : 'clearfix'" >
                    <div class="message-data" data-ng-class="(message.from == username) ? '' : 'align-right'">
                        <span class="message-data-name">
                            {{ (message.from == username) ? 'You' : message.from }}
                        </span>
                        <span class="message-data-time">
                            {{ message.at | date:"h:mm a EEEE, MMMM d, y" }}
                        </span>
                    </div>
                    <div class="message" data-ng-class="(message.from == username) ? 'my-message' : 'other-message float-right'" >
                        {{ message.message }}
                    </div>
                </li>
            </ul>
            <a id="bottom"></a>
        </div>

        <!-- Input box for message -->
        <div class="chat-message clearfix">
            <textarea name="Type your message" cols ="5" rows="3" data-ng-model="message" ></textarea>
            <button data-ng-click="send( selected.username, message )" >Send</button>
        </div>
    </div>
</div>